<div class="header">



</div>


<% @all_listings.each do |property| %>
	<div class="result">
		<%= image_tag(property.primary_small_image_url, class: "img-responsive") %>
		<h2><%= property.title %></h2>

		<h3>City:</h3>
		<p><%= property.city %></p>

		<h3>Province:</h3>
		<p><%= property.province %></p>

		<h3>Nightly From:</h3>
		<p>$<%= property.nightly_from %></p>

		<h3>Nightly Rate:</h3>
		<p>$<%= property.nightly_rate %></p>
		<h5><%= link_to "See Full Listing", result_path(property.id.to_s) %> </h5>
	</div>
<% end %>