<div class="header">



</div>


<% @all_listings.each do |property| %>
	<div class="result">
		<%= image_tag(property.primary_small_image_url, class: "img-responsive") %>
		<h5><%= link_to "See Full Listing:", result_path(property.id.to_s) %> </h5>
		<h4><%= property.title %></h4>
		<p>City: <%= property.city %></p>
		<p>Province: <%= property.province %></p>
		<p>Nightly From: $<%= property.nightly_from %></p>
		<p>Nightly Rate: $<%= property.nightly_rate %></p>
	</div>
<% end %>