<div class="single-listing">
	<%= image_tag(@listing.primary_small_image_url) %>
	<h1><%= @listing.title %></h1>
	<h3>Why stay here?</h3>
	<%= @listing.why_stay_here %></p>
	<h3>Where?</h3>
	<p>City: <%= @listing.city %></p>
	<p>Province: <%= @listing.province %></p>
	<p>Country: <%= @listing.country %></p>

	<h3>Cost:</h3>
	<p>Nightly From: $<%= @listing.nightly_from %></p>
	<p>Nightly Rate: $<%= @listing.nightly_rate %></p>

	<h3>Features:</h3>
	<p>Number of Bedrooms: <%= @listing.num_bedrooms %></p>
	<p>Number of Bathrooms: <%= @listing.num_bathrooms %></p>
	<p>Sleeps Max: <%= @listing.sleeps_max %> (Sleeps Comfortably: <%= @listing.sleeps_comfortably%>)</p>
	<p>Showcased Features: <%= @listing.showcased_features %></p>

	<h3>Reviews:</h3>
	<p>User Rating: <%= @listing.user_rating %></p>
	<p>Number of Reviews: <%= @listing.num_reviews %></p>
</div>

<div class="back-btn">
	<%= link_to "Back to All Listings", root_path %>
</div>