<div class="single-listing">
	<%= image_tag(@listing.primary_small_image_url) %>
	<h1><%= print_if_present(@listing.title) %></h1>
	<h3>Why stay here?</h3>
	<%= print_if_present(@listing.why_stay_here) %></p>
	<h3>Where?</h3>
	<p>City: <%= print_if_present(@listing.city) %></p>
	<p>Province: <%= print_if_present(@listing.province) %></p>
	<p>Country: <%= print_if_present(@listing.country) %></p>

	<h3>Cost:</h3>
	<p>Nightly From: $<%= print_if_present(@listing.nightly_from) %></p>
	<p>Nightly Rate: $<%= print_if_present(@listing.nightly_rate) %></p>

	<h3>Features:</h3>
	<p>Number of Bedrooms: <%= print_if_present(@listing.num_bedrooms) %></p>
	<p>Number of Bathrooms: <%= print_if_present(@listing.num_bathrooms) %></p>
	<p>Sleeps Max: <%= print_if_present(@listing.sleeps_max) %> (Sleeps Comfortably: <%= print_if_present(@listing.sleeps_comfortably)%>)</p>
	<p>Showcased Features: <%= display_from_array(@listing.showcased_features) %></p>

	<h3>Reviews:</h3>
	<p>User Rating: <%= print_if_present(@listing.user_rating) %></p>
	<p>Number of Reviews: <%= print_if_present(@listing.num_reviews) %></p>
</div>

<div class="back-btn">
	<%= link_to "Back to All Listings", root_path %>
</div>